:root{
    --fondo: hsl(277, 64%, 61%);
    --color:hsl(244, 38%, 16%);
    --background:hsl(233, 47%, 7%);
    --heading:hsl(0, 0%, 100%);
    --paragraph:hsla(0, 0%, 100%, 0.75);
    --stat:hsla(0, 0%, 100%, 0.6);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body{
background-color: var(--background);
font-family: 'Inter', sans-serif;
font-size: 15px;
display: flex;
justify-content: center;
flex-direction: column;
height: 100%;
display: flex;
align-items: center;

}

main{
        margin-top: 15%;
       
      
}

.contenedor{
        background-color: var(--color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 300px;  
        border-radius: 10px;
}

@media (min-width:768px){
    .contenedor{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        max-width: 900px;
    }
}



@media (min-width: 768px) {
    .img{
       border-radius: 0 8px 8px 0;
    }
   }
   h1{
       color: var(--White);
       font-size: 25px;
       font-weight: bold;
       text-align: center;
   }

.contenido{
    text-align: center;
    color: var(--paragraph);
    font-size: 13px;
}

h2{
    color: var(--heading);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--heading);
    font-size: 2rem;
}

.resultado p{
    font-size: 10px;
    font-weight: 400;
    color: var(--stat);

}

@media(min-width: 768px){
    .resultado{
        display: flex;
        flex-direction: row;
    }
    }


.resultado div{
    font-family: 'Lexend Deca', sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}


.imagen{
    width: 100%;
    height: 200px;
    border-radius: 6px;
    background-size: cover;
    background-image: url('../stats-preview-card-component-main/images/image-header-mobile.jpg');
    position: relative;
}

.img{
    background-color: var(--fondo);
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px; 
}

@media (min-width: 768px) {
    .imagen{
        background-image: url('../stats-preview-card-component-main/images/image-header-desktop.jpg');
        height: 200px;
        border-radius: 0 8px 8px 0;
        margin-top: 0;
        width: 50%;
    }
}

@media (min-width: 768px){
   .contenido {
    color: var(--paragraph);
    font-size: 400;
    font-size: 14px;
    text-align: center;
   }
}

@media (min-width: 768px) {
    .contenido {
        text-align: left;
        font-size: 12px;
    }
}